<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    executionOrder="random"
    resolveDependencies="true"
    beStrictAboutOutputDuringTests="true"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
>
    <testsuites>
        <testsuite name="Package integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>

        <testsuite name="Framework unit">
            <directory suffix="Test.php">framework/tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">framework/src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>